@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ABC Diatype Mono';
	src: url('https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.eot');
	src: url('https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.ttf')
			format('truetype'),
		url('https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.svg#ABC Diatype Mono')
			format('svg');
}

@font-face {
	font-family: 'DenimBold W00 Regular';
	src: url('https://db.onlinewebfonts.com/t/647e00411bbd758c7c8f5f5ed0c7f6fc.eot');
	src: url('https://db.onlinewebfonts.com/t/647e00411bbd758c7c8f5f5ed0c7f6fc.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/647e00411bbd758c7c8f5f5ed0c7f6fc.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/647e00411bbd758c7c8f5f5ed0c7f6fc.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/647e00411bbd758c7c8f5f5ed0c7f6fc.ttf')
			format('truetype'),
		url('https://db.onlinewebfonts.com/t/647e00411bbd758c7c8f5f5ed0c7f6fc.svg#DenimBold W00 Regular')
			format('svg');
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
